@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;1,300&display=swap');

/* Base styles */
* {
    padding: 0;
    margin: 0;
}


:root {
    --primary-color: #007bff;
    --text-color: #333;
    --background-color: #fff;
}

body {
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    background-color: black;

}

                        /* Container */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* max-width: 1200px; */
    margin: 0 auto;
}

                        /* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 110px ;
    grid-area: header;
}

.logo {
    width: 10vw;
    height: 4vh;
}

                        /* Navigation */
.nav__list {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

.nav__link {
    text-decoration: none;
    color: #97b002;
    font-weight: 300;
    font-size: 19px;
    padding: 5px; 
}

nav a:hover {
    text-decoration: underline;
}

                    /* Introduction */

.introduction {
    line-height: .5;
}

.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
                        /* PROJECTS */

.project_image {
    width: auto;
    height: 40vh;
}

                        /* ABOUT ME */
.about_me {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

                    /* Responsive navigation */
@media (max-width: 768px) {
    .nav__list {
        flex-direction: column;
        gap: 1rem;
    }
}



/* Projects grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

/* Project card */
.project {
    border-radius: 4px;
    overflow: hidden;
}

.project__image {
    width: 100%;
    height: auto;
}

.project__content {
    padding: 1rem;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #0056b3;
}


/* Tablet */
@media (min-width: 768px) {
    /* Tablet styles */
}

/* Desktop */
/* @media (min-width: 1024px) {
    /* Desktop styles */

